<!-- manageDepartments.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manage Departments</title>
  <!-- Liên kết với Bootstrap 5 CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <%- include('../../partials/navbarAdmin') %>

  <div class="container mt-5">
    
    <a href="/admin/addFaculty" class="btn btn-primary btn-sm">Add faculty</a>

    <h1>Manage Faculty</h1>
    <!-- Bảng hiển thị danh sách khoa -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Faculty Name</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% departments.forEach((department) => { %>
          <tr>
            <td><%= department.department_id %></td>
            <td><%= department.department_name %></td>
            <td>
              <!-- Nút sửa -->
              <a href="/admin/editFaculty/<%= department.department_id %>" class="btn btn-primary">Edit</a>
              <!-- Nút xoá -->
              <a href="/admin/deleteFaculty/<%= department.department_id %>" class="btn btn-danger">Delete</a>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <!-- Liên kết với Bootstrap 5 JS và các thư viện JavaScript cần thiết -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>
</html>
